<ion-header>
  <ion-toolbar>
    <ion-title>bebidas</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="ion-align-self-start">
          BEBIDAS SIN ALCOHOL
          <ion-card>
            <ion-card-header>
              <ion-slides>
                <ion-slide><img src="assets/bebidas/gaseosa.png"></ion-slide>
              </ion-slides>
              <ion-card-title> GASEOSA</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Es una bebida hecha con agua carbonatada (lo que aporta el gas), edulcorantes, colorantes, antioxidantes, entre otros componentes. Las gaseosas suelen tener sabores como cola, naranja, limón y uva.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="ion-align-self-start">
          BEBIDAS ALCÓHOLICAS
          <ion-card>
            <ion-card-header>
              <ion-slides>
                <ion-slide><img src="assets/bebidas/vino.png"></ion-slide>
              </ion-slides>
              <ion-card-title>VINO</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Del latín vinum, el vino es una bebida alcohólica que se hace a partir de la uva. El proceso implica la fermentación alcohólica del zumo o mosto a través de la acción metabólica de levaduras.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="ion-align-self-start">
          BEBIDAS REFRESCANTES
          <ion-card>
            <ion-card-header>
              <ion-slides>
                <ion-slide><img src="assets/bebidas/limonada.png"></ion-slide>
              </ion-slides>
              <ion-card-title>TÉ HELADO</ion-card-title>
            </ion-card-header>

            <ion-card-content>

              Té helado a todas horas y de dos en dos. En verano lo infusiono con agua del tiempo. Una cucharadita de té por taza de agua + 1 extra para la jarra o tetera.

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col class="ion-align-self-start">
          COCTELES
          <ion-card>
            <ion-card-header>
              <ion-slides>
                <ion-slide><img src="assets/bebidas/martini.png"></ion-slide>
              </ion-slides>
              <ion-card-title>Martini</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Un coctel clásico e infaltable en las barras del mundo. El Martini es una receta que es tan icónica de la coctelería como variada, pues las tendencias apuntan a explorar nuevos límites para esta bebida.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="ion-align-self-start">
          BEBIDAS ENERGIZANTES
          <ion-card>
            <ion-card-header>
              <ion-slides>
                <ion-slide><img src="assets/bebidas/redbull.png"></ion-slide>
              </ion-slides>
              <ion-card-title>Redbull</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Estas bebidas contienen hidratos de carbono (azúcares), que pueden ofrecer un aporte inmediato de energía cuando se gastan las reservas del cuerpo. Las bebidas deportivas también contienen electrolitos, como el sodio y el potasio, que el cuerpo pierde a través del sudor.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="ion-align-self-start">
          BEBIDAS A BASE DE CAFÉ
          <ion-card>
            <ion-card-header>
              <ion-slides>
                <ion-slide><img src="assets/bebidas/mocaccino.png"></ion-slide>
              </ion-slides>
              <ion-card-title>Mocachino</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              En efecto, para celebrar estas fiestas un mocachino es una excelente opción a la hora de elegir qué café tomar cuando estás en un coffee shop o en casa con amigos y familiares.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-content>
