<ion-tabs>

  <ion-tab-bar slot="top" color="primary">
    <ion-tab-button tab="platillos">
      <ion-icon name="fast-food-outline"> </ion-icon>
      <ion-label>Platillos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bebidas">
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="postres">
      <ion-icon name="ice-cream-outline"> </ion-icon>
      <ion-label>Postres</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registro">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-tabs>
