<ion-header>
  <ion-toolbar>
    <ion-title>postres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="ion-align-self-start">
        ITALIA
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide><img src="assets/postres/Tiramisu.jpg"></ion-slide>
            </ion-slides>
            <ion-card-title> TIRAMISU </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Un tiramisú se compone siempre de un ingrediente sólido humedecido en café, sobre el que se superpone (de forma alterna o no) una crema cuya base son huevos batidos con azúcar; se presenta espolvoreado con cacao en polvo.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start">
        ARGENTINA
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide><img src="assets/postres/Panqueque.jpg"></ion-slide>
            </ion-slides>
            <ion-card-title>PANQUEQUES</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Los pancakes, son una especie de crêpe, salvando las distancias, que se elabora de la misma manera, calentando porciones de la pasta de sus ingredientes en una sartén.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start">
        ESTADOS UNIDOS
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide><img src="assets/postres/Cheesecakejpg"></ion-slide>
            </ion-slides>
            <ion-card-title>CHEESECAKE</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            El Cheesecake es un postre muy popular. Su base es el queso crema o el queso ricotta, azúcar y huevos. Los sabores más populares son los de chocolate oscuro o blanco, de caramelo o los de fruta, especialmente los de frutos rojos son muy apetecidos.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="ion-align-self-start">
        FRANCIA
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide><img src="assets/postres/Coulant.jpg"></ion-slide>
            </ion-slides>
            <ion-card-title>COULANT</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Esponjoso por fuera y con un corazón líquido, el coulant de chocolate es una verdadera obra de arte de la repostería francesa, gracias a su ingeniosa combinación de texturas.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start">
        ESPAÑA
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide><img src="assets/postres/Torrijas.jpg"></ion-slide>
            </ion-slides>
            <ion-card-title>TORRIJAS</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Las torrijas, ese delicioso manjar cuya receta ha pasado de generación en generación y que, a día de hoy, continúa siendo el dulce estrella de la Semana Santa.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-start">
        INGLATERRA
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide><img src="assets/postres/Crumble.jpg"></ion-slide>
            </ion-slides>
            <ion-card-title>CRUMBLE</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            El crumble es una elaboración dulce de origen anglosajón, formado por una capa de fruta fresca cubierta por una mezcla de harina, azúcar y mantequilla, que se cuece en el horno. El calor reblandece la fruta y endurece la cubierta o crumble, que no es más (ni menos) que una masa de galleta en migas.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

